<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="false">
    <listeners>
        <listener class-name="com.java.util.TestListener"/>
        <listener class-name="com.java.util.AnnotationTransformer"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/johar/IdeaProjects/GradleProject">
        <classes>
            <class name="com.java.test.LoginTest"/>
        </classes>
    </test>
</suite>